### add primary imports

In [6]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

### read  data set file

In [7]:
data = pd.read_csv("MadaLine.csv")
data

           X1        X2  label
0   -0.642823  0.720606      0
1   -0.218126  0.677263      0
2   -0.582930 -0.347496      0
3    0.285127  0.091750      0
4   -0.335577 -0.313893      0
..        ...       ...    ...
195  0.744066 -1.206548      1
196 -0.457547  1.286227      1
197 -1.020000 -0.783926      1
198  1.363429 -0.800250      1
199 -1.246702 -0.388615      1

[200 rows x 3 columns]