### add primary imports

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

### read  data set file

In [2]:
data = pd.read_csv("MadaLine.csv")
data

           X1        X2  label
0   -0.642823  0.720606      0
1   -0.218126  0.677263      0
2   -0.582930 -0.347496      0
3    0.285127  0.091750      0
4   -0.335577 -0.313893      0
..        ...       ...    ...
195  0.744066 -1.206548      1
196 -0.457547  1.286227      1
197 -1.020000 -0.783926      1
198  1.363429 -0.800250      1
199 -1.246702 -0.388615      1

[200 rows x 3 columns]

## preprocessing
change label 0 to -1 For more explicit calculation

In [3]:
data = data.replace(0,-1)
data

           X1        X2  label
0   -0.642823  0.720606     -1
1   -0.218126  0.677263     -1
2   -0.582930 -0.347496     -1
3    0.285127  0.091750     -1
4   -0.335577 -0.313893     -1
..        ...       ...    ...
195  0.744066 -1.206548      1
196 -0.457547  1.286227      1
197 -1.020000 -0.783926      1
198  1.363429 -0.800250      1
199 -1.246702 -0.388615      1

[200 rows x 3 columns]

##### change data type

In [4]:
data = np.asarray(data)

feature_data = np.delete(data, 2, 1)
label_data = np.asarray(data[:,2])


print(feature_data[:10])
print(label_data[:10])

[[-0.64282255  0.72060647]
 [-0.21812607  0.67726261]
 [-0.58292983 -0.34749617]
 [ 0.28512668  0.09174997]
 [-0.33557667 -0.31389274]
 [ 0.31739521 -0.52331519]
 [-0.63941109 -0.17120822]
 [ 0.11580448  0.64575158]
 [ 0.18989616  0.89158849]
 [ 0.06790498 -0.60116898]]
[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]

##### train and test split

In [5]:
from sklearn.model_selection import train_test_split

feature_data_train, feature_data_test, label_data_train, label_data_test = train_test_split( feature_data, label_data, test_size=0.2, random_state=4)
print ('Train set:', feature_data_train.shape,  label_data_train.shape)
print ('Test set:' , feature_data_test.shape,  label_data_test.shape)

Train set: (160, 2) (160,)
Test set: (40, 2) (40,)